.view-studentList-container {
  display: flex;
  min-height: 100vh;
}

.view-studentList-content {
  flex-grow: 1;
  padding: 30px;
  margin-left: 260px;
  line-height: 1.6;
  color: var(--color-blue-900);
  animation: fadeIn 0.4s ease;
}


/* Table */
.table-wrapper {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-400);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: var(--color-blue-900);
}

/* Table header */
.student-table thead {
  background-color: var(--color-greengray-200);
  border-bottom: 2px solid var(--color-gray-400);
}

.student-table th {
  padding: 16px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-blue-800);
  white-space: nowrap;
}

/* Table content */
.student-table tbody tr {
  border-bottom: 1px solid var(--color-white-100);
  transition: all 0.2s ease;
}

.student-table td {
  padding: 14px 16px;
  vertical-align: middle;
}


.student-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.student-table tbody tr:nth-child(odd) {
  background-color: transparent;
}

/* Hover table content */
.student-table tbody tr:hover {
  background-color: var(--color-gray-300);
  cursor: default;
}


.student-table td.font-medium {
  font-weight: 600;
  font-family: monospace;
  color: var(--color-blue-600);
}

/* Noti when there is no students */
h3{
  color: var(--color-gray-600);
  margin-top: 20px;
}
