.viewclass-container {
    display: flex;
    min-height: 100vh;
    background: var(--color-white-100);
    font-family: var(--font-sans);
}

/* CONTENT */
.viewclass-content {
    flex-grow: 1;
    padding: 30px;
    margin-left: 260px;
    line-height: 1.6;
    color: var(--color-white-900);
}

.viewclass-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 22px;
}

/* LIST */
.viewclass-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* Card */
.viewclass-item {
    background: var(--color-white-000);
    border-radius: 18px;
    padding: 16px 20px;
    border: 1px solid var(--color-gray-300);
    cursor: pointer;
    transition: 0.2s;
}

.viewclass-item:hover {
    transform: translateY(-2px);
}

/* HEADER giá»‘ng admin */
.viewclass-header {
    display: flex;
    width: 1100px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-greengray-300);
    padding: 10px 20px;
}

.viewclass-name {
    font-size: 18px;
    font-weight: 700;
}

/* DETAIL */
.viewclass-detail {
    margin-top: 12px;
    padding-top: 14px;
    border-top: 5px solid var(--color-gray-300);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.viewclassdetail-row {
    display: flex;
    gap: 10px;
}

.viewclass-info-label {
    width: 150px;
    font-weight: 700;
    font-size: 14px;
}

.viewclass-info-text {
    font-size: 14px;
}

/* BACK BUTTON */
.viewclass-back-btn {
    margin-top: 35px;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    background: var(--color-blue-500);
    color: var(--color-white-000);
    font-size: 15px;
    cursor: pointer;
}

.viewclass-back-btn:hover {
    opacity: 0.9;
}
