.addclass-container {
  display: flex;
  min-height: 100vh;
}

.addclass-content {
  flex-grow: 1;
  padding: 30px;
  margin-left: 260px;
  line-height: 1.6;
  color: var(--color-blue-900);
  animation: fadeIn 0.4s ease;
}

.addclass-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-blue-900);
}

.addclass-header {
  background: var( --color-black);
  color: var(--color-white-000);
  padding: 14px 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 16px;
  margin-bottom: 30px;
}

.addclass-form {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  row-gap: 20px;
}

.addclass-form .addclasslabel {
  font-weight: 500;
  font-size: 16px;
}

.addclass-form input,
.addclass-form select {
  width: 1013px;
  height: 17px;
  padding: 10px 10px;
  border: 1.3px solid var(--color-gray-300);
  border-radius: 4px; 
  font-size: 16px;
  font-family: Segoe UI;
  background: var(--color-white-000);
  
} 

.addclassreadOnly:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700); 
  cursor: not-allowed;    
  width: 1013px;      
}

.addclassselect-wide {
  width: 260px;
}

.addclassinput-wide {
  width: 260px;
}

.addclassschedule-add-btn {
  width: 32px;
  height: 32px;
  background: var(--color-white-000);
  border-radius: 50%;
  border: 2px solid var( --color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  font-size: 22px;
}

.addclassschedule-box {
  grid-column: span 2;
  margin-top: 10px;
  background: var(--color-white-300);
  padding: 16px;
  border-radius: 14px;

  display: grid;
  grid-template-columns: 50px 400px 50px 200px;
  align-items: center; 
  row-gap: 16px;
  column-gap: 18px;
}

.addclassschedule-label {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center; 
}

.addclassschedule-box select,
.addclassschedule-box input {
  width: 260px;
  border-radius: 8px;
  padding: 7px 10px;
  border: 1px solid var(--color-white-500);
  background: var(--color-white-000);
  height: 40px;                
  display: flex;
  align-items: center;
}


.addclass-buttons {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  gap: 15px;
}

.addclassbtn-cancel,
.addclassbtn-save {
  width: 120px;
  height: 35px;
  border-radius: 14px;
  border: 2px;
  cursor: pointer;
  grid-column: 1 / -1; 
  justify-self: end;  
  margin-top: 10px;
  font-size: 16px;
  background: var(--color-blue-500);
  color: var(--color-white-000);
}

.addclassbtn-cancel:hover,
.addclassbtn-save:hover {
  background: var(--color-white-500);
}

input.error,
select.error {
  border-color: var(--color-red);      
  background-color: var(--color-gray-100); 
}

.addclasserror-message {
  color: var(--color-red);
  font-size: 10px;
  margin-top: -14px;
  margin-bottom: -10px; 
  grid-column: 2 / 3;
}

.addclassschedule-error {
  grid-column: span 4;
  margin-top: -8px;
}

.addclass-name-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.addclassinput-with-prefix {
  display: flex;
  align-items: center;
}

.addclassprefix {
  padding: 8px 12px;
  background-color: var(--color-white-100);
  border: 1px solid var(--color-white-400);
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.addclassinput-with-prefix input {
  padding: 8px 12px;
  border: 1px solid var(--color-white-400);
  border-left: none;
  border-radius: 0 4px 4px 0;
  flex-grow: 1;
}


.addclasscode-row {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  width: 50px; 
  white-space: nowrap; 
}

.addclasscode-prefix {
  margin-right: 5px; 
}

input[type="text"] {
  flex-grow: 1; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.addclass-delete-btn {
  width: 130px;
  border: none;
  border-radius: 10px;
  background: var(--color-blue-500);
  color: var(--color-white-000);
  font-size: 15px;
  cursor: pointer;

  grid-column: 1 / -1;
  justify-self: start; 
  margin-bottom: 10px;
}

.addclassinput-error {
  border: 1px solid var(--color-red);
}

.error__control { 
  border: 1px solid var(--color-red) !important;
}

.addclasscancel-dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 999;
}

.addclasscancel-dialog-box {
  width: 380px;
  height: 100px;
  background: var(--color-white-000);
  padding: 35px 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  font-family: var(--font-sans);
}

.addclasscancel-dialog-box div {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
  color: var(--color-gray-700);
}

.addclasscancel-dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.addclasscancel-dialog-no,
.addclasscancel-dialog-yes {
  flex: 1;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: var(--color-white-300);
  transition: 0.2s;
}

.addclasscancel-dialog-no:hover,
.cancel-dialog-yes:hover {
  background: var(--color-white-100);
}
