.schedule-container {
  display: flex;
  min-height: 100vh;
}

.schedule-content {
  flex-grow: 1;
  padding: 40px;
  margin-left: 260px;
  line-height: 1.6;
  color: var(--color-blue-900);
}

.schedule-box {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.schedule-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-blue-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.fc {
  font-family: Arial, sans-serif;
  background: var(--color-white-000);
  border-radius: 15px;

}

.fc .fc-toolbar.fc-header-toolbar{
    background: var(--color-greengray-700);
    border-radius: 10px;
}

.fc-timegrid-event .fc-event-time {
  display: none !important;
}

/* Event styling */
.fc-event {
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 12px;
    background-color: var(--color-greengray-300) !important;
    border-left: 4px solid var(--color-greengray-700) !important;
    border: 1px solid var(---color-white-000);
    color: var(--color-black) !important;
}

.fc .fc-button-primary {
    background-color: var(--color-greengray-300);
}

.fc .fc-button-primary:disabled {
    background-color: var(--color-white-000) !important;
    color: var(--color-black);
    border-color: var(--color-greengray-700);
}

.update-btn {
  margin-top: 16px;
  padding: 10px 24px;
  font-size: 15px;
  background-color: var(--color-blue-500);
  color: var(--color-white-000);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.update-btn:hover {
  background-color: var(--color-blue-600);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(58, 110, 168, 0.3);
}

.update-btn:active {
  transform: scale(0.98);
}

.fc-header-toolbar {
  background: var(--color-white-100);
  padding: 5px 10px;
  border-radius: 10px;
}

.fc-button {
  /* background: var(--color-white-000) !important; */
  border: 1px solid var(--color-white-500) !important;

  padding: 4px 10px !important;
  border-radius: 4px;
}


/* Nút đang được chọn */
.fc-button-active {
  background: var(--color-white-000) !important;
  color: var(--color-black) !important;
}

/* Tiêu đề ngày tháng */
.fc-toolbar-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-black);
}
