.add-course-container {
  display: flex;
  min-height: 100vh;
}

.add-course-content {
  flex-grow: 1;
  padding: 30px;
  margin-left: 260px;
  line-height: 1.6;
  font-family: var(--font-sans);
  color: var(--color-blue-900);
}

.add-course-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* Form */

.add-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-100); 
  padding: 20px;
  border-radius: 6px;
}

.readOnly:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700); 
  cursor: not-allowed;          
}


/* ROW 1 (3 COL - NAME - ID _ CODE) & ROW 2 (2 COL - PARA - PRE) & ROW 3 (1 COL - DES) */


.row-3col {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.row-3col .field-group {
  width: 33.33%;
}

.row-2col {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.row-2col .field-group {
  width: 50%;
}

.row-1col .field-group {
  width: 100%;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group span {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-gray-600);
  margin-bottom: 6px;
}

.field-group input {
  padding: 8px 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--color-white-000);
}

.field-group input:focus {
  border-color: var(--color-blue-500);
}


/* PREREQUISITE + PARALLEL FIELD */


.pre-container,
.para-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.pre,
.para {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-200);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.pre button,
.para button {
  margin-left: 8px;
  background: none;
  border: none;
  color: var(--color-red);
  cursor: pointer;
  font-weight: bold;
}

/* DROPDOWN SEARCH PRE AND PARA */


.dropdown {
  background: var(--color-white-000);
  border: 1px solid var(--color-gray-300);
  margin-top: 5px;
  border-radius: 4px;
  max-height: 160px;
  overflow-y: auto;
  font-size: 14px;
  z-index: 20;
  position: relative;
}

.dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray-200);
}

.dropdown-item:hover {
  background-color: var(--color-gray-200);
}

/* CREDIT + TYPE OF STUDY UNIT SECTION */


.attribute-credit > .field-group span {
  margin-bottom: 25px;
}

.attribute-credit > .field-group {
  padding-bottom: 25px;
}

.credit-type-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 25px;
}

.credit-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.attribute-credit select {
  width: 200px;          
  padding: 8px 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--color-white-000);
  color: var(--color-gray-600); 
  appearance: none;
  cursor: pointer;
}

.attribute-credit select option[value=""] {
  color: var(--color-gray-400);
}

.credit-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -70px;     
  margin-left: 210px;    
}

.credit-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--color-gray-200);
  padding: 6px 12px;
  border-radius: 4px;
  width: fit-content;
}

.credit-label {
  display: inline-block;
  width: 150px;       
  text-align: left;  
}
.credit-item input {
  width: 50px;
  flex-shrink: 0;
}

.type-of-study-unit {
  margin-top: 9px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}



/* ACTION BUTTON */


.form-action {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button,
.save-button {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-300);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button:hover,
.save-button:hover {
  background-color: var(--color-gray-300);
}

.save-button, .cancel-button {
  background-color: var(--color-blue-500);
  color: var(--color-white-000);
}

.save-button:hover, .cancel-button:hover {
  background-color: var(--color-blue-400);
}

/* =========================================================
   DIALOG POPUP
   ========================================================= */

.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.dialog-box {
  width: 380px;
  background: var(--color-white-000);
  padding: 35px 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.dialog-message {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
  color: var(--color-gray-700);
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dialog-btn {
  flex: 1;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: var(--color-white-300);
}

.dialog-btn:hover {
  background: var(--color-white-400);
}
