.view-account-container {
  display: flex;
  min-height: 100vh;
}

.view-account-content {
  flex-grow: 1;
  padding: 30px;
  margin-left: 260px;
  line-height: 1.6;
  font-family: var(--font-sans);
  color: var(--color-blue-900);
}

.view-account-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}

.account-search-bar {
  width: 100%;
  max-width: 350px;
  padding: 10px 14px;
  border: 1px solid var(--color-gray-300);
  border-radius: 18px;
  font-size: 15px;
}

.account-search-mode-select {
  padding: 10px 14px;
  border: 1px solid var(--color-gray-300);
  border-radius: 18px;
  font-size: 15px;
  background-color: var(--color-white);
  cursor: pointer;
}

.account-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.account-item,
.account-header,
.account-detail {
  margin: 0;
}

.account-header {
  background: var(--color-greengray-200);
  padding: 12px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.account-sequential {
  font-weight: 600;
  font-size: 17px;
}

.account-detail {
  border: 1px solid var(color-gray-300);
  background: var(--color-white);
  border-radius: 12px;
  padding: 18px 22px;
  width: 95%;
  margin-left: 15px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detail-row-account {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.account-info-label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  width: 140px;
  white-space: nowrap;
}

.account-info-text {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.account-delete-btn {
  border: none;
  background: var(--color-red-500);
  color: var(--color-white);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
  align-self: flex-end;
}

.account-delete-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.add-account-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--color-blue-500);
  color: var(--color-white);
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.add-account-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.edit-btn {
  border: none;
  background: var(--color-blue-500);
  color: var(--color-white);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
  align-self: flex-end;
}

.edit-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.account-action {
  display: flex;
  gap: 12px; /* space between buttons */
  margin-top: 10px;
}
