.login-container {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Information above the login card */
.infor {
  text-align: center;
  margin-bottom: 20px;
}

.infor img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.infor h3 {
  margin: 5px 0;
  font-weight: 600;
}

.infor p {
  color: #444;
  font-size: 15px;
}

/* Login Card */
.loginCard {
  background-color: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 25px 30px;
  width: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  text-align: left;
}

/* Username / Password */
.loginCard p {
  margin: 10px 0 5px;
  font-weight: 500;
}

/* Input */
.loginCard input {
  width: 93%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: #e5e5e5;
  font-size: 14px;
  outline: none;
}

.loginCard input:focus {
  background-color: #ddd;
}

/* login button */
.loginCard button {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.loginCard button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.notification {
  color: var(--color-red)
}