.reset-container {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: var(--color-white-000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Information above the reset card */
.infor {
  text-align: center;
  margin-bottom: 20px;
}

.infor img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.infor h3 {
  margin: 5px 0;
  font-weight: 600;
}

.infor p {
  color: var(--color-white-600);
  font-size: 15px;
}

/* reset Card */
.resetCard {
  background-color: var(--color-white-100);
  border: 1px solid var(--color-white-500);
  border-radius: 10px;
  padding: 25px 30px;
  width: 320px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  text-align: left;
}

/* Email */
.resetCard p {
  margin: 10px 0 5px;
  font-weight: 500;
}

/* Input */
.resetCard input {
  width: 93%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: #e5e5e5;
  font-size: 14px;
  outline: none;
}

.resetCard input:focus {
  background-color: var(--color-white-400);
}

/* login button */
.resetCard button {
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white-000);
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.resetCard button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.notification {
  color: var(--color-red)
}

/* Popup noti after sending request */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: var(--color-white-100);
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.popup-content button {
  padding: 8px 16px;
  background-color: var(--color-blue-500);
  border: none;
  border-radius: 4px;
  color: var(--color-white-000);
  cursor: pointer;
}

.popup-content button:hover {
  background-color: var(--color-blue-500);
}

.validate-list {
  list-style: none;
  padding-left: 0.4rem;
}

li.valid{
  color: var(--color-green)
}

li.invalid {
  color: var(--color-red);
}

/* Button Confirm  */
button.validPwd{
  opacity: 1;
  cursor: pointer;
}

button.invalidPwd{
  opacity: 0.5;
  cursor: not-allowed; /* Not allowed click if pwd is invalid */
}

/* On Off password */
.input-container {
  position: relative;
}

.toggle-icon {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}